<div>
    <div class="jumbotron">
        <h1>CyberJam Portal</h1>
        <p class="lead">The CyberJam Portal is designed for all security minded individuals to come and "JAM" with their hacking skills!</p>
        <p><a class="btn btn-primary btn-lg" href="http://www.offensive-security.com">Learn more with Offensive-Security! &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Kali Linux</h2>
            <p>
                Kali Linux is the leading security testing distribution to date! Go on...give it a try!
            </p>
            <p><a class="btn btn-default" href="http://www.kali.org">Try Kali NOW! &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Follow the latest Security News!</h2>
            <p>The Hacker News (THN) is constantly updating the latest events to be happening in the Cyber Security sector.</p>
            <p><a class="btn btn-default" href="http://www.thehackernews.com">The Hacker News &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Google</h2>
            <p>Need to search the Internet? Click here and let Google find it</p>
            <p><a class="btn btn-default" href="http://www.google.com">Click to SEARCH! &raquo;</a></p>
        </div>
    </div>
</div>